* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

body {
  min-width: 200px;
  height: 50px;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 40px;
  z-index: -1;
}