* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

*:not(#loading) {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

body {
  width: 300px;
  height: auto;
}

#loading {
  font-size: 40px;
  z-index: -1;
}